@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

#app {
    text-align: center;
    background: #F9F9F9;
}
input {
    width: 1000px;
    border-style: none;
}
#title{
    font-size: 250px;
    color: #EBD8D9;
    font-family: none;
}

#listItem{
    background-color: white;
    width: 1000px;
    margin: auto;
    text-align: start;
    border: thin;
}
#itemsLeft{
    background-color: white;
    width: 500px;
    margin: auto;
    text-align: start;
}